In [135]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score
import joblib
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [136]:
music_data.shape

(18, 3)

In [137]:
music_data.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [138]:
'''
    Split our data set into two different category 1 is input(age and gender) and the other is the output(genre)
    Because typically, in ML we want to be able to feed and train our model with the features(age and gender) and provide it with the necessary output whenever such inputs are been presented into it.
    To split out data into two categories, we will need to use the pandas .drop method
'''
# the drop method doesnt really modify the original dataset
X = music_data.drop(columns=['genre'])
y = music_data['genre'] #print the genre column

In [139]:
# instantiate the decisiontree class
model = DecisionTreeClassifier()
# the decision tree model.fit() method takes in two parameter Input dataset and output dataset
model.fit(X, y) #basically asking the model to make predictions based on the input and output data
'''
    To tell the model to predict the data, we have to call the predict method on the model instance and the predict method basically takes in one major array and two multi dimentional array as its array elements parameters.
    These model.predict takes in array of arrays while each sub array to the predict method takes in the input variable of both the age and gender we want to predict the kind of genres they would like.

''' 
# after training our model using model.fit, we use joblib to save our trained results into a joblib file for subsequent need of similar train input and output data. works just the way redis works by storing and catching data into filesystem
joblib.dump(model, 'music-recommender.joblib')
# to avoid training our model everytime in real world application, we use joblib to catc already trained 
# predictions = model.predict([ [21, 1] ])

['music-recommender.joblib']

In [140]:
'''
    After successfully predicting a model/result we need to measure the model accruacy if it performs well. See below.
    The process of measuring the accracy of a model is by splitting out data into training set and the other one should be test set. Typically, the training set takes 80% of our data set and testing set takes 20% of our dataset.
    As seen above, we havn't implemented it yet and instead of passing only two samples for making predictions, we can pass the dataset we have for testing and get its own predictions 
    and then we can compare the result of its own prediction against the actual values in the test set based on that we can calculate the accuracy
'''

"\n    After successfully predicting a model/result we need to measure the model accruacy if it performs well. See below.\n    The process of measuring the accracy of a model is by splitting out data into training set and the other one should be test set. Typically, the training set takes 80% of our data set and testing set takes 20% of our dataset.\n    As seen above, we havn't implemented it yet and instead of passing only two samples for making predictions, we can pass the dataset we have for testing and get its own predictions \n    and then we can compare the result of its own prediction against the actual values in the test set based on that we can calculate the accuracy\n"